<!DOCTYPE html>
<html>

<head>
    <title>Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Students List</h1>

    <table>

        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Score</th>
        </tr>

        {% for name, score in students %}

        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/student/{{ name }}">{{ name }}</a></td>
            <td>{{ score }}</td>
        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/">Home</a>

</body>

</html>
